* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*noinspection CssOverwrittenProperties,CssInvalidPropertyValue*/
.App {
    height: 100vh;
    height: 100dvh;
    height: 100svh;
    width: 100vw;
    background: linear-gradient(45deg, brown, crimson, chocolate, coral, gold);
    background-size: 200% 100%;
    background-position: left;
    animation: bg 10s linear infinite alternate;
    display: grid;
    grid-template-rows: 1fr 5vh;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
    min-width: 300px;
    padding-top: 20vh;
}

html {
    font-size: 10px;
}

@keyframes bg {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}
