.content {
    flex-grow: 1;
}

.header {
    display: flex;
    margin-bottom: 2em;
}

.header > h1 {
    font-size: 7rem;
}

.footer {
    font-size: 1.5rem;
    display: flex;
}

.header > h1 {
    align-self: center;
}

.content {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-self: flex-start;
}

.input > button {
    border: none;
    font-size: 1em;
    height: 2.5em;
    width: 4em;
    cursor: pointer;
    background-color: snow;
}

.content > .input > input {
    font-size: 1em;
    height: 2.5em;
    border: none;
}

#todo-list {
    list-style-type: none;
}

input[type="checkbox"] {
    font: inherit;
    font-size: 1em;
    width: 1em;
    height: 1em;
}

#todo-list > li {
    display: grid;
    grid-template-columns: 10% 1fr 5%;
    gap: 1em;
    font-size: 1em;
    text-shadow: 0 0 0.05em black;
    margin-top: 0.5em;
    width: 100%;
}

.input {
    display: flex;
    gap: 0.3em;
}

.footer > p {
    margin: auto;
}

li > a {
    width: 1em;
    height: 1em;
}
