#task-title {
    width: 500px;
    height: 35px;
    margin-bottom: 10px;
}

#task-description {
    width: 500px;
    height: 100px;
    margin-bottom: 10px;
}

#task-add-button {
    width: 500px;
}